/* css reset */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(175, 222, 176);
}

p {
    font-family: 'Red Hat Display', sans-serif;
}

h1, h2, h3, ul {
    font-family: 'Prata', serif;
}

#title {
    border: 2px rgb(0, 0, 0) solid;
    background: #648FFF;
}


h1,
h2,
h3 {
    padding: .2em 0;
}

a {
    text-align: center;
}

li {
    text-align: center;
    line-height: 50px;
    min-width: 30%;
    height: 50px;
    border: 2px rgb(0, 0, 0) solid;
    background: #ff6480;
    color: black;
}

p {
    margin: 1.8em 0;
    line-height: 1.4em;
}
header,
nav {
    padding: 1em;
}
main,
aside,
footer {
    padding: 1em;
    border: 2px rgb(0, 0, 0) solid;
}

main {
    text-align: center;
}

main,
footer {
    margin: 10px;
}

header,
footer {
    text-align: center;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background: rgba(175, 222, 176);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
    1fr        2fr      1fr;
    grid-template-areas: 
    "header1 header1 header1"
    "nav1     nav1    nav1"
    "aside1   main1   aside2"
    "aside1   main1   aside2"
    "aside1   main1   aside2"
    "foot1    foot1   foot1";
}

header {grid-area: header1; background: rgba(175, 222, 176);}
nav {grid-area: nav1; background: rgba(175, 222, 176);}
main {grid-area: main1; background: #FFB000;}
footer {grid-area: foot1; background: #648FFF;}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

/* media query for medium/tablet */
@media screen
    and (min-width: 650px)
    and (max-width: 900px) {
        .container {
            grid-template-columns: 
            1fr   1fr;
            grid-template-areas:
            "header1 header1"
            "nav1    nav1"
            "main1   main1"
            "aside1  aside2"
            "foot1   foot1";
        }
    }

/* media query for small/mobile */
@media screen
    and (max-width: 640px) {
        .container {
            grid-template-columns: 
            1fr;
            grid-template-areas:
            "header1"
            "nav1"
            "main1"
            "aside1"
            "aside2"
            "nav1"
            "foot1";
        }

    nav ul {
        flex-flow: column nowrap;
        text-align: center;
    }

    li {
        line-height: 50px;
        height: 50px;
        border: 2px rgb(0, 0, 0) solid;
        background: #ff6480;
        margin-top: 10px;
    }

    .mainbox {
        display: block;
        align-self: center;
    }
}

img {
    max-width: 100%;
    height: auto;
}