.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.content {
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFC99A;
}

h1, h2, h3 {
    font-family: 'Prata', serif;
}

p {
    font-family: 'Red Hat Display', sans-serif;
    line-height: 1.5em;
}