.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.content {
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0a0ad;
}

h1, h2, h3, ul {
    font-family: 'Prata', serif;
}

ul {
    font-size: large;
    line-height: 2em;
}

p {
    font-family: 'Red Hat Display', sans-serif;
    line-height: 1.5em;
    font-size: large;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-bottom: 1px;
    border-color: black;
}

th, td{
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid black;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

section {
    display: block;
}

body {
    display: block;
    margin: 8px;
}

.skip-link {
    background: black;
    color: #fff;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
}

.skip-link:focus {
    transform: translateY(-100%);
}

.skip-link {
    transition: transform 0.3s;
}